<div class='title-section'>¡Bienvenido {{currentUser.admin.user.name.first}}!</div>
<h4>¿Qué deseas hacer?</h4>
<br/>
<div id="buttons" class="container text-center">
    <p>
        <a [routerLink]="['/new-event']" class="btn btn-sq-lg btn-primary">
            <i class="fa fa-calendar-plus-o fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">
                Agregar
                <br>Evento</div>
        </a>
        <a [routerLink]="['/new-event']" class="btn btn-sq-lg btn-success">
            <i class="fa fa-calendar-check-o fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Modificar
                <br>Evento
            </div>
        </a>
        <a [routerLink]="['/events-list']" class="btn btn-sq-lg btn-info">
            <i class="fa fa-calendar fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Ver
                <br>Eventos</div>
        </a>
        <a href="#" class="btn btn-sq-lg btn-warning">
            <i class="fa fa-map-marker fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Agregar
                <br>Lugar</div>
        </a>
        <a href="#" class="btn btn-sq-lg btn-violet">
            <i class="fa fa-map-pin fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Modificar
                <br>Lugar</div>
        </a>
        <a [routerLink]="['/places-list']" class="btn btn-sq-lg btn-danger">
            <i class="fa fa-map fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text"> Ver
                <br>Lugares</div>
        </a>
    </p>

</div>