<div class='title-section'>¡Bienvenido {{currentUser.admin.user.name.first}}!</div>
<h4>¿Qué deseas hacer?</h4>
<br/>
<div id="buttons" class="container text-center">
    <p>
        <a [routerLink]="['/new-event']" class="btn btn-sq-lg btn-primary">
            <i class="fa fa-calendar-plus-o fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">
                Agregar
                <br>Evento</div>
        </a>
        <a [routerLink]="['/events-list']" class="btn btn-sq-lg btn-success">
            <i class="fa fa-calendar fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Gestionar
                <br>Eventos
            </div>
        </a>
        <a [routerLink]="['/eventTypes-list']" class="btn btn-sq-lg btn-info">
            <i class="fa fa-star fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Gestionar
                <br>Categorías</div>
        </a>
        <a [routerLink]="['/faculties-list']"  class="btn btn-sq-lg btn-warning">
            <i class="fa fa-university fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Gestionar
                <br>Facultades</div>
        </a>
        <a [routerLink]="['/majors-list']" class="btn btn-sq-lg btn-violet">
            <i class="fa fa-graduation-cap fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text">Gestionar
                <br>Escuelas</div>
        </a>
        <a [routerLink]="['/places-list']" class="btn btn-sq-lg btn-danger">
            <i class="fa fa-map fa-5x"></i>
            <br/>
            <br/>
            <div class="button-text"> Gestionar
                <br>Lugares</div>
        </a>
    </p>

</div>