<!--<form id="event-form" class="col-md-8 center-block">
  <div class="form-group">
    <label for="exampleFormControlInput1">Título</label>
    <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Fecha</label>
    <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Hora de inicio</label>
      <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Hora de ifin</label>
      <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Lugar</label>
      <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Organizador</label>
      <input class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Tipo de evento</label>
      <input class="dropdown" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripción</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

<p-growl [value]="msgs"></p-growl>-->
<p-panel header="Nuevo evento">
  <h3 class="first">Título</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.title"> 
  <h3 class="first">Descripción</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.description"> 
  <h3 class="first">Día</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.day"> 
  <h3 class="first">Mes</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.month"> 
  <h3 class="first">Año</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.year"> 
  <br/>
  <h3 class="first">Hora de inicio</h3>
  <h4 class="first">Hora</h4>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.startHour.h"> 
  <h4 class="first">Minutos</h4>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.startHour.m"> 
  <br/>
  <h3 class="first">Hora de finalización</h3>
  <h4 class="first">Hora</h4>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.endHour.h"> 
  <h4 class="first">Minutos</h4>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.endHour.m"> 
  <br/>
  <h3 class="first">Facultad</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.faculty">
  <h3 class="first">Lugar</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.place">
  <h3 class="first">Tipo de evento</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="model.typeEvent">
  <br/>
  <br/>
  <button pButton type="button" icon="fa-check" (click)="createEvent()" label="Guardar"></button>
  
</p-panel>