
<p-growl [value]="msgs"></p-growl>

<div class="ui-g">
<div class="ui-lg-12 ui-md-12 ui-sm-12 center-login">
<p-panel >
    <p-header class="sec-title">
        Agregar nuevo evento
    </p-header>

  <div id=event-form>
  <h4 class="first">Título</h4>
  <input id="input-title" type="text" [(ngModel)]="model.title" pTooltip="Ingrese el título del evento" pInputText> 
  <h4 class="first">Descripción</h4>
  <textarea rows="5" cols="30" pInputTextarea  [(ngModel)]="model.description" pTooltip="Detalle en que consiste el evento"></textarea>
  <h4 class="first">Fecha del evento</h4>
  <p-calendar [(ngModel)]="date1"   [locale]="es" showButtonBar="true" dateFormat="dd/mm/yy" [style]="{width: '100%'}"></p-calendar>
  <h4 class="first">Hora de inicio</h4>
  <p-calendar [(ngModel)]="start"  [timeOnly]="true" [style]="{width: '100%'}"></p-calendar>
  <br/>
  <h4 class="first">Hora de finalización</h4>
  <p-calendar [(ngModel)]="end"  [timeOnly]="true" [style]="{width: '100%'}"></p-calendar>
  <br/>
  <h4 class="first">Facultad organizadora</h4>
  <p-dropdown appendTo="body"  [options]="faculties" [(ngModel)]="selectedFaculty"  placeholder="Seleccione una facultad" optionLabel="name" ></p-dropdown>
  <h4 class="first">Lugar</h4>
  <input id="input-place" type="text"  pInputText [(ngModel)]="model.place" pTooltip="Indique el lugar donde se realizará el evento">
  <h4 class="first">Categoría de evento</h4>
  <p-dropdown appendTo="body"  [options]="eventTypes" [(ngModel)]="selectedEventType"   placeholder="Seleccione una categoría" optionLabel="name" ></p-dropdown>
  <br/>
  <br/>
  <button pButton type="button" icon="fa-check"  label="Guardar" (click)="createEvent()"></button>
  </div>
</p-panel>
</div>
</div>




